yfinance
pandas
numpy
matplotlib
scikit-learn
mlflow
tensorflow
keras
requests
fastapi
fastapi[standard]
uvicorn
colorlog
python-jose[cryptography]
passlib[bcrypt]
prometheus-client>=0.20.0
psutil>=5.9.0